<% if device.user %>
  <h2><%= "#{device.user.name.possessive} #{device.device_type}" %></h2>
<% else %>
  <h2>Device</h2>
<% end %>

<table class="table-condensed">
  <tr>
    <th>Serial Number: </th>
    <td><%= device.serial_number %></td>
  </tr>

  <tr>
    <th>Device Type: </th>
    <td><%= device.device_type %></td>
  </tr>

  <tr>
    <th>Assigned User: </th>
    <% if device.user %>
      <td><%= link_to device.user.name, user_path(device.user) %></td>
    <% else %>
      <td>No Assigned User</td>
    <% end %>
  </tr>
</table>
