


<table class="table">
  <tr>
    <th>Serial Number</th>
    <th>Assigned User</th>
    <th>&nbsp;</th>
  </tr>
  <% @devices.each do |f| %>
  <tr>

    <td>
      <%= f.serial_number %>
    </td>
    <td>
      <% if f.user %>
        <%= f.user.name %>
      <% else %>
        No assigned user
      <% end %>
      <td><%= link_to "Delete", f, method: :delete %></td>
    <% end %>
    </td>
  </tr>
</table>
