


<table class="table">
  <tr>
    <th>Serial Number</th>
    <th>Assigned User</th>
    <th>&nbsp;</th>
  </tr>
  <% @devices.each do |f| %>
  <tr>

    <td>
      <%= link_to f.serial_number, device_path(f) %>
    </td>
    <td>
      <% if f.user %>
        <%= f.user.name %>
      <% else %>
        No assigned user
      <% end %>
      <td>
        <%= link_to "Delete", f, method: :delete %>
        <%= link_to "Edit", edit_device_path(f) %></td>
    <% end %>
    </td>
  </tr>
</table>
