<h2><%= user.name %></h2>

<table class="table-bordered">
  <tr>
    <th>Assigned devices:</th>
  </tr>
  <% user.devices.each do |f| %>
    <tr>
      <td><%= link_to f.serial_number.upcase, device_path(f) %></td>
    </tr>
  <% end %>
</table>
