<table class="table-condensed">
  <tr>
    <th>Name:</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <% @user.devices.each do |f| %>
      <th>Assigned devices:</th>
      <td><%= f.serial_number %></td>
    <% end %>

  </tr>
  
  

